In [13]:
import pandas as pd   

from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Ramdhan\Desktop\DLCVNLP\TensorFlow\Home Work\MPG_Reg\auto-mpg.data",header=None,delim_whitespace=True,
                 names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name'])

In [3]:
df['age'] = 82-df['model year']

df['horsepower'] = pd.to_numeric(df.horsepower, errors='coerce').fillna(0)

In [4]:
df = df.drop(labels =['model year','car name'],axis=1)

In [5]:
X= df.iloc[:,1:9] #removed target and car names
y=df['mpg']

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
print(scaler.fit(X))
x=scaler.transform(X)

MinMaxScaler()

In [7]:
x= pd.DataFrame(x)

In [8]:
x

       0         1         2         3         4    5    6
0    1.0  0.617571  0.565217  0.536150  0.238095  0.0  1.0
1    1.0  0.728682  0.717391  0.589736  0.208333  0.0  1.0
2    1.0  0.645995  0.652174  0.516870  0.178571  0.0  1.0
3    1.0  0.609819  0.652174  0.516019  0.238095  0.0  1.0
4    1.0  0.604651  0.608696  0.520556  0.148810  0.0  1.0
..   ...       ...       ...       ...       ...  ...  ...
393  0.2  0.186047  0.373913  0.333711  0.452381  0.0  0.0
394  0.2  0.074935  0.226087  0.146583  0.988095  0.5  0.0
395  0.2  0.173127  0.365217  0.193365  0.214286  0.0  0.0
396  0.2  0.134367  0.343478  0.286929  0.630952  0.0  0.0
397  0.2  0.131783  0.356522  0.313864  0.678571  0.0  0.0

[398 rows x 7 columns]

In [9]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.1, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=20)

In [12]:
model.fit(train_x,train_y)
model.score(test_x,test_y)

0.9104965036853047

In [21]:
test_y.shape 
test_x.shape

(40, 7)

In [14]:
#pip install matplotlib

y_pred = model.predict(test_x)

In [26]:
test_y

198    33.0
396    28.0
33     19.0
208    13.0
93     14.0
84     27.0
373    24.0
94     13.0
222    17.0
126    21.0
9      15.0
383    38.0
56     26.0
72     15.0
132    25.0
42     12.0
370    31.0
275    17.0
229    16.0
377    31.0
77     22.0
15     22.0
389    22.0
238    33.5
0      18.0
394    44.0
114    26.0
234    24.5
261    18.1
104    12.0
393    27.0
375    36.0
298    23.0
57     24.0
312    37.2
116    16.0
113    21.0
262    19.2
158    16.0
141    29.0
Name: mpg, dtype: float64

In [25]:
y_pred

array([32.6  , 30.06 , 20.175, 14.975, 14.   , 26.   , 27.09 , 11.45 ,
       19.57 , 20.54 , 14.4  , 33.57 , 28.3  , 14.725, 24.725, 13.325,
       29.575, 18.945, 15.35 , 36.045, 23.7  , 19.8  , 29.405, 29.425,
       16.   , 40.975, 25.9  , 24.455, 18.76 , 13.025, 27.18 , 34.335,
       19.485, 24.78 , 37.43 , 13.4  , 22.39 , 18.52 , 13.975, 26.1  ])

In [27]:
# The coefficients
#print('Coefficients: \n', model.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(test_y, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(test_y, y_pred))

# Plot outputs
#plt.scatter(test_x, test_y,  color='black')
#plt.plot(test_x, y_pred, color='blue', linewidth=3)

#plt.xticks(())
#plt.yticks(())

#plt.show()

Mean squared error: 5.49
Coefficient of determination: 0.91